@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
{
	margin: 0;
	padding: 0;
}

.container{
    background: url(doku.jpg);
    height: 150vh;
    background-size: 100% 100%;
    filter: blur(5px);
}
.container .navbar{
    width: 100%;
    heigt: 80px;
}

.navbar .logo{
    width: 100%;
    heigth: 80px;
    display:inline-block;
    margin-left: 50px;
    margin-top: 30px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 50px;
    font-family: 'Lucida Grande';
    color:rgb(187, 75, 75);
}
.navbar ul{
    float: right;
    margin-right: 150px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px
}
.navbar ul li a{
    color:rgb(187, 75, 75);
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
