{
	margin: 0;
	padding: 0;
}
.container{
    background: url(ile.jpg);
    height: 150vh;
    background-size: 100% 100%;
    color:ghostwhite;
    text-decoration: none;
    font-size: larger;
    padding: 6px 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    filter: blur(5px);
